@using SBISCCMWeb.Utility;
@using SBISCCMWeb.LanguageResources;
@model SBISCCMWeb.Models.PreviewMatchData.Main.DunsInfo

@{
    if (Helper.Branding == Branding.Matchbook.ToString())
    {
        ViewBag.Title = CommonMessagesLang.lblMatchbook + " | " + MatchDataLang.titleMatchBookData;
    }
    else if (Helper.Branding == Branding.DandB.ToString())
    {
        ViewBag.Title = CommonMessagesLang.lblDunBradstreet + " | " + MatchDataLang.titleMatchBookData;
    }
    Layout = null;
}

<style>
    .paddingRightLeftNone {
        padding: 5px 0 !important;
    }

    .padding-5 {
        padding: 5px;
    }

    .padding-bottom-5 {
        padding-bottom: 5px;
    }

    .preview-matchtab .nav-tabs .nav-link {
        color: #fff !important;
        font-size: 13px
    }

    /*.enrichmentDataPopup {
        width: 1000px;
    }*/
</style>
@Html.AntiForgeryToken()
<div class="modal" id="EnrichmentDetailModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg enrichmentDataPopup">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                @if (Model.lstCurrentPrincipals.Count == 0 && Model.lstIndustryCodes.Count == 0 && Model.lstRegistrationNumbers.Count == 0 && Model.lstStockExchanges.Count == 0)
                {
                    <h4 class="modal-title">@MatchDataLang.hdrPreviewEnrichmentData</h4>
                }
                else
                {
                    <div style="display:inline-flex">
                        <h4 class="modal-title">@Model.Base.DnBDUNSNumber  - @Model.Base.primaryName</h4>
                        <span style="margin:3px 8px"><a href="javascript:void(0)" id="lnkShowHideInputDetails" data-flag="hide">@MatchDataLang.lblShowInputDetails</a></span>
                    </div>
                }
            </div>
            <div class="modal-body">
                <div class="tab-pane fade active in">
                    <article class="sortable-grid ui-sortable keyword" style="display:none" id="articleEnrichmentInputData">
                        <div class="jarviswidget jarviswidget-sortable jarviswidget-color-blueDark" data-widget-custombutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-colorbutton="false" role="widget">
                            <header role="heading">
                                <h2>
                                    <strong>@MatchDataLang.hdrInput</strong>
                                </h2>
                            </header>
                            <div class="row">
                                <div class="col-md-6 width50">
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 padding-5 padding-top-0">
                                            <strong> @MatchDataLang.lblSrcId : </strong>
                                        </div>
                                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 padding-5 padding-top-0">
                                            @Model.Input.SrcId
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 padding-5 padding-top-0">
                                            <strong> @MatchDataLang.lblAddress : </strong>
                                        </div>
                                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 padding-5 padding-top-0">
                                            @CommonMethod.DisplayFormattedAddress(Model.Input.Address, Model.Input.City, Model.Input.State, Model.Input.Postal, Model.Input.Country)
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 padding-5 padding-top-0">
                                            <strong> Registration# : </strong>
                                        </div>
                                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 padding-5 padding-top-0">
                                            @Model.Input.RegistrationNum
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 width50">
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 padding-5 padding-top-0">
                                            <strong>@MatchDataLang.lblCompany : </strong>
                                        </div>
                                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 padding-5 padding-top-0">
                                            @Model.Input.Company
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 padding-5 padding-top-0">
                                            <strong> @MatchDataLang.lblPhone : </strong>
                                        </div>
                                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 padding-5 padding-top-0">
                                            @Model.Input.Phone
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 padding-5 padding-top-0">
                                            <strong> @MatchDataLang.lblWebsite : </strong>
                                        </div>
                                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 padding-5 padding-top-0">
                                            @Model.Input.Website
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

                @if (Model.lstCurrentPrincipals.Count == 0 && Model.lstIndustryCodes.Count == 0 && Model.lstRegistrationNumbers.Count == 0 && Model.lstStockExchanges.Count == 0)
                {

                    <div class="">
                        <span>@MatchDataLang.lblNodataavailable</span>
                    </div>
                }
                else
                {
                    <div class="tab-pane fade active in">
                        <article class="sortable-grid ui-sortable keyword">
                            <div class="jarviswidget jarviswidget-sortable jarviswidget-color-blueDark" data-widget-custombutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-colorbutton="false" role="widget">
                                <header role="heading">
                                    <h2>
                                        <strong>@MatchDataLang.hdrFirmographicsDetails</strong>
                                    </h2>
                                </header>
                                <div role="content">
                                    <div class="">

                                        <div class="row displayEnrichmentData">
                                            <div class="col-md-6 width50">
                                                <div class="row">
                                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 padding-5 padding-top-0">
                                                        <strong> @MatchDataLang.lblBusinessEntity : </strong>
                                                    </div>
                                                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 padding-5 padding-top-0">
                                                        @Model.Base.businessEntityTypeDescription
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 padding-5 padding-top-0">
                                                        <strong>@MatchDataLang.lblOperating : </strong>
                                                    </div>
                                                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 padding-5 padding-top-0">
                                                        @Model.Base.operatingStatus
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 padding-5 padding-top-0">
                                                        <strong>@MatchDataLang.lblPrimaryAddress : </strong>
                                                    </div>
                                                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 padding-5 padding-top-0">
                                                        @{
                                                            string MainPrimaryAddress = string.Empty;
                                                            MainPrimaryAddress = CommonMethod.DisplayFormattedAddress(Model.Base.primaryAddressStreetLine1, Model.Base.primaryAddressCity, Model.Base.primaryAddressState, Model.Base.primaryAddressPostalCode, Model.Base.primaryAddressCountryIsoAlpha2Code);
                                                        }
                                                        @MainPrimaryAddress
                                                        @if (Helper.LicenseEnableGoogleMap && !string.IsNullOrEmpty(MainPrimaryAddress))
                                                        {
                                                            <a onclick="window.open('http://maps.google.com/?q=@MainPrimaryAddress')" href="javascript:void(false)">
                                                                <i class="fa fa-map-marker fa-lg"></i>
                                                            </a>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 padding-5 padding-top-0">
                                                        <strong>@MatchDataLang.lblStandalone : </strong>
                                                    </div>
                                                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 padding-5 padding-top-0">
                                                        @Model.Base.isStandalone
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="col-md-6 width50">
                                                <div class="row">
                                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingRightLeftNone">
                                                        <strong>@MatchDataLang.lblFamilyTreeRolesPlayed : </strong>
                                                    </div>
                                                    <div class="col-sm-8 col-md-8 col-lg-8 padding-5 padding-top-0">
                                                        <span>@Model.Base.corporateLinkageFamilytreeRolesPlayedDescription1</span>
                                                        <span>@(string.IsNullOrEmpty(Model.Base.corporateLinkageFamilytreeRolesPlayedDescription2) ? "" : " , " + Model.Base.corporateLinkageFamilytreeRolesPlayedDescription2) </span>
                                                        <span>@(string.IsNullOrEmpty(Model.Base.corporateLinkageFamilytreeRolesPlayedDescription3) ? "" : " , " + Model.Base.corporateLinkageFamilytreeRolesPlayedDescription3) </span>
                                                    </div>
                                                </div>
                                                @{
                                                    string GlobalUltimateAdd = (string.IsNullOrEmpty(Model.Base.corporateLinkageGlobalUltimateStreetAddressLine1) ? "" : Model.Base.corporateLinkageGlobalUltimateStreetAddressLine1) +
                                                                                                (string.IsNullOrEmpty(Model.Base.corporateLinkageGlobalUltimateCity) ? "" : " , " + Model.Base.corporateLinkageGlobalUltimateCity) +
                                                                                                (string.IsNullOrEmpty(Model.Base.corporateLinkageGlobalUltimateState) ? "" : " , " + Model.Base.corporateLinkageGlobalUltimateState) +
                                                                                                (string.IsNullOrEmpty(Model.Base.corporateLinkageGlobalUltimatePostalCode) ? "" : " , " + Model.Base.corporateLinkageGlobalUltimatePostalCode) +
                                                                                                (string.IsNullOrEmpty(Model.Base.corporateLinkageGlobalUltimateCountryIsoAlpha2Code) ? "" : " , " + Model.Base.corporateLinkageGlobalUltimateCountryIsoAlpha2Code);

                                                    string DomesticUltimateAdd = (string.IsNullOrEmpty(Model.Base.corporateLinkageDomesticUltimateStreetAddressLine1) ? "" : Model.Base.corporateLinkageDomesticUltimateStreetAddressLine1) +
                                                                                                 (string.IsNullOrEmpty(Model.Base.corporateLinkageDomesticUltimateCity) ? "" : " , " + Model.Base.corporateLinkageDomesticUltimateCity) +
                                                                                                 (string.IsNullOrEmpty(Model.Base.corporateLinkageDomesticUltimateState) ? "" : " , " + Model.Base.corporateLinkageDomesticUltimateState) +
                                                                                                 (string.IsNullOrEmpty(Model.Base.corporateLinkageDomesticUltimatePostalCode) ? "" : " , " + Model.Base.corporateLinkageDomesticUltimatePostalCode) +
                                                                                                 (string.IsNullOrEmpty(Model.Base.corporateLinkageDomesticUltimateIsoAlpha2Code) ? "" : " , " + Model.Base.corporateLinkageDomesticUltimateIsoAlpha2Code);

                                                    string ParentAdd = (string.IsNullOrEmpty(Model.Base.corporateLinkageParentStreetAddressLine1) ? "" : Model.Base.corporateLinkageParentStreetAddressLine1) +
                                                                                                (string.IsNullOrEmpty(Model.Base.corporateLinkageParentCity) ? "" : " , " + Model.Base.corporateLinkageParentCity) +
                                                                                                (string.IsNullOrEmpty(Model.Base.corporateLinkageParentState) ? "" : " , " + Model.Base.corporateLinkageParentState) +
                                                                                                (string.IsNullOrEmpty(Model.Base.corporateLinkageParentPostalCode) ? "" : " , " + Model.Base.corporateLinkageParentPostalCode) +
                                                                                                (string.IsNullOrEmpty(Model.Base.corporateLinkageParentIsoAlpha2Code) ? "" : " , " + Model.Base.corporateLinkageParentIsoAlpha2Code);
                                                }


                                                @if (Model.Base.corporateLinkageGlobalUltimateDuns == Model.Base.corporateLinkageDomesticUltimateDuns && Model.Base.corporateLinkageGlobalUltimateDuns == Model.Base.corporateLinkageParentDuns)
                                                {
                                                    if (!string.IsNullOrEmpty(GlobalUltimateAdd))
                                                    {
                                                        <div class="row">
                                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingRightLeftNone">
                                                                <strong>@MatchDataLang.lblGlobalUltimate  /<br /> @MatchDataLang.lblDomesticUltimate /<br /> @MatchDataLang.lblParent : </strong>
                                                            </div>
                                                            <div class="col-sm-8 col-md-8 col-lg-8 padding-5 padding-top-0">
                                                                <span>@Model.Base.corporateLinkageGlobalUltimateDuns @Model.Base.corporateLinkageGlobalUltimatePrimaryName</span>
                                                                <br />
                                                                <span>@GlobalUltimateAdd</span>
                                                            </div>
                                                        </div>
                                                    }

                                                }
                                                else if (Model.Base.corporateLinkageGlobalUltimateDuns == Model.Base.corporateLinkageDomesticUltimateDuns)
                                                {
                                                    if (!string.IsNullOrEmpty(GlobalUltimateAdd))
                                                    {
                                                        <div class="row">
                                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingRightLeftNone">
                                                                <strong>@MatchDataLang.lblGlobalUltimate / <br />@MatchDataLang.lblDomesticUltimate : </strong>
                                                            </div>
                                                            <div class="col-sm-8 col-md-8 col-lg-8 padding-5 padding-top-0">
                                                                <span>@Model.Base.corporateLinkageGlobalUltimateDuns @Model.Base.corporateLinkageGlobalUltimatePrimaryName</span><br />
                                                                <span>@GlobalUltimateAdd</span>
                                                            </div>
                                                        </div>
                                                    }
                                                    if (!string.IsNullOrEmpty(ParentAdd))
                                                    {
                                                        <div class="row">
                                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingRightLeftNone">
                                                                <strong>@MatchDataLang.lblParent : </strong>
                                                            </div>
                                                            <div class="col-sm-8 col-md-8 col-lg-8 padding-5 padding-top-0">

                                                                <span>@Model.Base.corporateLinkageParentDuns @Model.Base.corporateLinkageParentName</span>
                                                                <br />
                                                                <span>@ParentAdd</span>
                                                            </div>
                                                        </div>
                                                    }

                                                }
                                                else if (Model.Base.corporateLinkageGlobalUltimateDuns == Model.Base.corporateLinkageParentDuns)
                                                {
                                                    if (!string.IsNullOrEmpty(GlobalUltimateAdd))
                                                    {
                                                        <div class="row">
                                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingRightLeftNone">
                                                                <strong>@MatchDataLang.lblGlobalUltimate /<br /> @MatchDataLang.lblParent : </strong>
                                                            </div>
                                                            <div class="col-sm-8 col-md-8 col-lg-8 padding-5 padding-top-0">

                                                                <span>@Model.Base.corporateLinkageGlobalUltimateDuns @Model.Base.corporateLinkageGlobalUltimatePrimaryName</span>
                                                                <br />
                                                                <span>@GlobalUltimateAdd</span>
                                                            </div>
                                                        </div>
                                                    }
                                                    if (!string.IsNullOrEmpty(DomesticUltimateAdd))
                                                    {
                                                        <div class="row">
                                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingRightLeftNone">
                                                                <strong>@MatchDataLang.lblDomesticUltimate :  </strong>
                                                            </div>
                                                            <div class="col-sm-8 col-md-8 col-lg-8 padding-5 padding-top-0">

                                                                <span>@Model.Base.corporateLinkageDomesticUltimateDuns @Model.Base.corporateLinkageDomesticUltimatePrimaryName</span>
                                                                <br />
                                                                <span>@DomesticUltimateAdd</span>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                                else if (Model.Base.corporateLinkageDomesticUltimateDuns == Model.Base.corporateLinkageParentDuns)
                                                {
                                                    if (!string.IsNullOrEmpty(GlobalUltimateAdd))
                                                    {
                                                        <div class="row">
                                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingRightLeftNone">
                                                                <strong>@MatchDataLang.lblGlobalUltimate : </strong>
                                                            </div>
                                                            <div class="col-sm-8 col-md-8 col-lg-8 padding-5 padding-top-0">

                                                                <span>@Model.Base.corporateLinkageGlobalUltimateDuns @Model.Base.corporateLinkageGlobalUltimatePrimaryName</span>
                                                                <br />
                                                                <span>@GlobalUltimateAdd</span>
                                                            </div>
                                                        </div>
                                                    }
                                                    if (!string.IsNullOrEmpty(DomesticUltimateAdd))
                                                    {
                                                        <div class="row">
                                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingRightLeftNone">
                                                                <strong>@MatchDataLang.lblDomesticUltimate /<br /> @MatchDataLang.lblParent :  </strong>
                                                            </div>
                                                            <div class="col-sm-8 col-md-8 col-lg-8 padding-5 padding-top-0">

                                                                <span>@Model.Base.corporateLinkageDomesticUltimateDuns @Model.Base.corporateLinkageDomesticUltimatePrimaryName</span>
                                                                <br />
                                                                <span>@DomesticUltimateAdd</span>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    if (!string.IsNullOrEmpty(GlobalUltimateAdd))
                                                    {
                                                        <div class="row">
                                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingRightLeftNone">
                                                                <strong>@MatchDataLang.lblGlobalUltimate : </strong>
                                                            </div>
                                                            <div class="col-sm-8 col-md-8 col-lg-8 padding-5 padding-top-0">

                                                                <span>@Model.Base.corporateLinkageGlobalUltimateDuns @Model.Base.corporateLinkageGlobalUltimatePrimaryName</span>
                                                                <br />
                                                                <span>@GlobalUltimateAdd</span>
                                                            </div>
                                                        </div>
                                                    }
                                                    if (!string.IsNullOrEmpty(DomesticUltimateAdd))
                                                    {
                                                        <div class="row">
                                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingRightLeftNone">
                                                                <strong>@MatchDataLang.lblDomesticUltimate : </strong>
                                                            </div>
                                                            <div class="col-sm-8 col-md-8 col-lg-8 padding-5 padding-top-0">
                                                                <span>@Model.Base.corporateLinkageDomesticUltimateDuns @Model.Base.corporateLinkageDomesticUltimatePrimaryName</span>
                                                                <br />
                                                                <span>@DomesticUltimateAdd</span>
                                                            </div>
                                                        </div>
                                                    }
                                                    if (!string.IsNullOrEmpty(ParentAdd))
                                                    {
                                                        <div class="row">
                                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingRightLeftNone">
                                                                <strong>@MatchDataLang.lblParent : </strong>
                                                            </div>
                                                            <div class="col-sm-8 col-md-8 col-lg-8 padding-5 padding-top-0">
                                                                <span>@Model.Base.corporateLinkageParentDuns @Model.Base.corporateLinkageParentName</span><br />
                                                                <span>@ParentAdd</span>
                                                            </div>
                                                        </div>
                                                    }
                                                }


                                            </div>

                                        </div>
                                    </div>


                                    <div class="widget-body preview-matchtab">
                                        <ul class="nav nav-tabs bordered" id="myTab1">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab" href="#Base" id="ParentBase" aria-expanded="true">@MatchDataLang.lblBase</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#CompanyClassification" id="ParentCompanyClassification" aria-expanded="false">@MatchDataLang.lblCompanyClassification</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#RegistrationNumbers" id="ParentRegistrationNumbers" aria-expanded="false">@MatchDataLang.lblRegistrationNumbers</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#SeniorManagement" id="ParentSeniorManagement" aria-expanded="false">@MatchDataLang.lblSeniorManagement</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#StockExchanges" id="ParentStockExchanges" aria-expanded="false">@MatchDataLang.lblStockDetail</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content position-relative righttabportalPreviewData PortalTabMenu" id="" style="max-height:400px;overflow-y:auto">

                                            <div id="Base" class="tab-pane padding-10 active in">
                                                <article class="sortable-grid ui-sortable keyword">
                                                    <div class="jarviswidget jarviswidget-sortable jarviswidget-color-blueDark" data-widget-custombutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-colorbutton="false" role="widget">
                                                        <header role="heading">
                                                            <h2>
                                                                <strong>@MatchDataLang.lblKEYINFORMATION</strong>
                                                            </h2>
                                                        </header>
                                                        <div class="col-xs-12">
                                                            <div class="col-xs-6">
                                                                <div class="col-12 padding-bottom-5">
                                                                    <strong>@MatchDataLang.lblStartDate : </strong>
                                                                    @if (!string.IsNullOrEmpty(Model.Base.startDate))
                                                                    {
                                                                        if (Model.Base.startDate.Length > 4)
                                                                        {
                                                                            Model.Base.startDate = Model.Base.startDate.Split('-')[0];
                                                                        }
                                                                        <span>
                                                                            @Model.Base.startDate (Since @(Convert.ToInt32(DateTime.Now.Year) - Convert.ToInt32(Model.Base.startDate)) years)
                                                                        </span>
                                                                    }
                                                                </div>
                                                                <div class="col-12 padding-bottom-5">
                                                                    <i class="fa fa-internet-explorer"></i> @Model.Base.websiteAddressUrl0
                                                                </div>
                                                                <div class="col-12 padding-bottom-5">
                                                                    <i class="fa fa-phone"></i> @Model.Base.telephoneNumber
                                                                </div>
                                                                <div class="col-12 padding-bottom-5">
                                                                    <strong>@MatchDataLang.lblAgent : </strong>
                                                                    @if (Model.Base.isAgent)
                                                                    {
                                                                        <text>Yes</text>
                                                                    }
                                                                    else
                                                                    {
                                                                        <text>No</text>
                                                                    }
                                                                </div>
                                                                <div class="col-12 padding-bottom-5">
                                                                    <strong>@MatchDataLang.lblMarketable : </strong>
                                                                    @if (Model.Base.isMarketable)
                                                                    {
                                                                        <text>True</text>
                                                                    }
                                                                    else
                                                                    {
                                                                        <text>False</text>
                                                                    }
                                                                </div>
                                                                <div class="col-12 padding-bottom-5">
                                                                    <strong>@MatchDataLang.lblExporter : </strong>
                                                                    @if (Model.Base.isExporter)
                                                                    {
                                                                        <text>True</text>
                                                                    }
                                                                    else
                                                                    {
                                                                        <text>False</text>
                                                                    }
                                                                </div>
                                                                <div class="col-12 padding-bottom-5">
                                                                    <strong>@MatchDataLang.lblImporter : </strong>
                                                                    @if (Model.Base.isImporter)
                                                                    {
                                                                        <text>True</text>
                                                                    }
                                                                    else
                                                                    {
                                                                        <text>False</text>
                                                                    }
                                                                </div>
                                                                <div class="col-12 padding-bottom-5">
                                                                    <strong>@MatchDataLang.lblUSTaxID : </strong>
                                                                    @Model.Base.UsTaxId
                                                                </div>
                                                                <div class="col-12 padding-bottom-5">
                                                                    <strong>@MatchDataLang.lblSrPrincipal : </strong>
                                                                    @if (!string.IsNullOrWhiteSpace(Model.Base.mostSeniorPrincipalFullName))
                                                                    {
                                                                        @Model.Base.mostSeniorPrincipalFullName
                                                                    }
                                                                    @if (!string.IsNullOrWhiteSpace(Model.Base.mostSeniorPrincipalManagementResponsibilitiesDescription0))
                                                                    {
                                                                        @Model.Base.mostSeniorPrincipalManagementResponsibilitiesDescription0
                                                                    }
                                                                </div>
                                                                <div class="col-12 padding-bottom-5">
                                                                    <strong>@MatchDataLang.lblSrPrincipalResponsibilities : </strong>
                                                                    @if (!string.IsNullOrWhiteSpace(Model.Base.mostSeniorPrincipalManagementResponsibilitiesDescription0))
                                                                    {
                                                                        <text> @Model.Base.mostSeniorPrincipalManagementResponsibilitiesDescription0</text>
                                                                    }
                                                                    @if (!string.IsNullOrWhiteSpace(Model.Base.mostSeniorPrincipalManagementResponsibilitiesDescription1))
                                                                    {
                                                                        <text> @Model.Base.mostSeniorPrincipalManagementResponsibilitiesDescription1</text>
                                                                    }
                                                                    @if (!string.IsNullOrWhiteSpace(Model.Base.mostSeniorPrincipalManagementResponsibilitiesDescription2))
                                                                    {
                                                                        <text> @Model.Base.mostSeniorPrincipalManagementResponsibilitiesDescription2</text>
                                                                    }

                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <div class="col-12 padding-bottom-5">
                                                                    <strong>@MatchDataLang.lblTradeStyleNames : </strong>
                                                                    @if (!string.IsNullOrWhiteSpace(Model.Base.tradeStyleName0))
                                                                    {
                                                                        <text> @Model.Base.tradeStyleName0 </text>
                                                                    }
                                                                    @if (!string.IsNullOrWhiteSpace(Model.Base.tradeStyleName1))
                                                                    {
                                                                        <text> @Model.Base.tradeStyleName1</text>
                                                                    }
                                                                    @if (!string.IsNullOrWhiteSpace(Model.Base.tradeStyleName2))
                                                                    {
                                                                        <text> @Model.Base.tradeStyleName2</text>
                                                                    }
                                                                    @if (!string.IsNullOrWhiteSpace(Model.Base.tradeStyleName3))
                                                                    {
                                                                        <text> @Model.Base.tradeStyleName3</text>
                                                                    }
                                                                    @if (!string.IsNullOrWhiteSpace(Model.Base.tradeStyleName4))
                                                                    {
                                                                        <text> @Model.Base.tradeStyleName4</text>
                                                                    }
                                                                </div>
                                                                <div class="col-12 padding-bottom-5">
                                                                    <strong>@MatchDataLang.lblConsolidateEmployeeCount : </strong>
                                                                    @Model.Base.ConsolidatedNumberOfEmployees
                                                                    @if (!string.IsNullOrWhiteSpace(Model.Base.ConsolidatedReliabilityDescription))
                                                                    {
                                                                        <text>(</text>@Model.Base.ConsolidatedReliabilityDescription<text>)</text>
                                                                    }
                                                                </div>
                                                                <div class="col-12 padding-bottom-5">
                                                                    <strong>@MatchDataLang.lblIndividualEmployeeCount : </strong>
                                                                    @Model.Base.IndividualNumberOfEmployees
                                                                    @if (!string.IsNullOrWhiteSpace(Model.Base.IndividualReliabilityDescription))
                                                                    {
                                                                        <text>(</text>@Model.Base.IndividualReliabilityDescription<text>)</text>
                                                                    }
                                                                </div>
                                                                <div class="col-12 padding-bottom-5">
                                                                    <strong>@MatchDataLang.lblRevenue : </strong>
                                                                    @if (!string.IsNullOrWhiteSpace(Model.Base.financialsYearlyRevenueCurrency1))
                                                                    {
                                                                        <text>@Model.Base.financialsYearlyRevenueCurrency1</text>
                                                                    }
                                                                    @if (!string.IsNullOrWhiteSpace(Model.Base.financialsYearlyRevenueValue1))
                                                                    {
                                                                        <text>@Model.Base.financialsYearlyRevenueValue1</text>
                                                                    }
                                                                    @if (!string.IsNullOrWhiteSpace(Model.Base.financialsReliabilityDescription))
                                                                    {
                                                                        <text>@Model.Base.financialsReliabilityDescription</text>
                                                                    }
                                                                    @if (!string.IsNullOrWhiteSpace(Model.Base.financialsUnitCode))
                                                                    {
                                                                        <text>(</text>@Model.Base.financialsUnitCode<text>)</text>
                                                                    }
                                                                </div>
                                                                <div class="col-12 padding-bottom-5">
                                                                    <strong>@MatchDataLang.lblMailUndeliverable : </strong>
                                                                    @Model.Base.isMailUndeliverable
                                                                </div>
                                                                <div class="col-12 padding-bottom-5">
                                                                    <strong>
                                                                        @MatchDataLang.lblFax :
                                                                    </strong>
                                                                    @Model.Base.faxNumber
                                                                </div>
                                                                <div class="col-12 padding-bottom-5">
                                                                    <strong>
                                                                        @MatchDataLang.lblDelisted :
                                                                    </strong>
                                                                    @Model.Base.isDelisted
                                                                </div>
                                                                <div class="col-12 padding-bottom-5">
                                                                    <strong>@MatchDataLang.lblControlOwnershipDate : </strong>
                                                                    @Model.Base.controlOwnershipDate
                                                                </div>
                                                                <div class="col-12 padding-bottom-5">
                                                                    <strong>@MatchDataLang.lblPrimaryStock : </strong>
                                                                    @Model.Base.primaryStockSymbol
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>

                                                <article class="sortable-grid ui-sortable keyword">
                                                    <div class="jarviswidget jarviswidget-sortable jarviswidget-color-blueDark" data-widget-custombutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-colorbutton="false" role="widget">
                                                        <header role="heading">
                                                            <h2>
                                                                <strong>@MatchDataLang.lblCLASSIFICATION</strong>
                                                            </h2>
                                                        </header>
                                                        <div class="col-xs-12">
                                                            <div class="col-xs-6">
                                                                <div class="col-12 padding-bottom-5">
                                                                    <strong>
                                                                        @MatchDataLang.lblPrimarySIC :
                                                                    </strong>
                                                                    @Model.Base.PrimarySic
                                                                    @if (!string.IsNullOrWhiteSpace(Model.Base.PrimarySic))
                                                                    {
                                                                        <text>-</text> @Model.Base.PrimarySicDesc
                                                                    }
                                                                </div>
                                                                <div class="col-12 padding-bottom-5">
                                                                    <strong>
                                                                        @MatchDataLang.lblPrimaryNAICS :
                                                                    </strong>
                                                                    @Model.Base.PrimaryNaics
                                                                    @if (!string.IsNullOrWhiteSpace(Model.Base.PrimaryNaicsDesc))
                                                                    {
                                                                        <text>-</text> @Model.Base.PrimaryNaicsDesc
                                                                    }
                                                                </div>
                                                                <div class="col-12 padding-bottom-5">
                                                                    <strong>
                                                                        @MatchDataLang.lblPrimarySIC8 :
                                                                    </strong>
                                                                    @Model.Base.PrimarySic8
                                                                    @if (!string.IsNullOrWhiteSpace(Model.Base.PrimarySic8Desc))
                                                                    {
                                                                        <text>-</text> @Model.Base.PrimarySic8Desc
                                                                    }
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6 padding-bottom-5">
                                                                <div class="col-12 padding-bottom-5">
                                                                    <strong>
                                                                        @MatchDataLang.lblSecondarySIC :
                                                                    </strong>
                                                                    @Model.Base.SecondSic
                                                                    @if (!string.IsNullOrWhiteSpace(Model.Base.SecondSicDesc))
                                                                    {
                                                                        <text>-</text> @Model.Base.SecondSicDesc
                                                                    }
                                                                </div>
                                                                <div class="col-12 padding-bottom-5">
                                                                    <strong>
                                                                        @MatchDataLang.lblSecondaryNAICS :
                                                                    </strong>
                                                                    @Model.Base.SecondNaics
                                                                    @if (!string.IsNullOrWhiteSpace(Model.Base.SecondNaicsDesc))
                                                                    {
                                                                        <text>-</text> @Model.Base.SecondNaicsDesc
                                                                    }
                                                                </div>
                                                                <div class="col-12 padding-bottom-5">
                                                                    <strong>
                                                                        @MatchDataLang.lblSecondarySIC8 :
                                                                    </strong>
                                                                    @Model.Base.SecondSic8
                                                                    @if (!string.IsNullOrWhiteSpace(Model.Base.SecondSic8Desc))
                                                                    {
                                                                        <text>-</text> @Model.Base.SecondSic8Desc
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>

                                                <article class="sortable-grid ui-sortable keyword">
                                                    <div class="jarviswidget jarviswidget-sortable jarviswidget-color-blueDark" data-widget-custombutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-colorbutton="false" role="widget">
                                                        <header role="heading">
                                                            <h2>
                                                                <strong>@MatchDataLang.lblLOCATION</strong>
                                                            </h2>
                                                        </header>

                                                        <div class="">
                                                            <div class="col-xs-6">
                                                                <div class="row">
                                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-5 padding-top-0">
                                                                        <strong>
                                                                            @MatchDataLang.lblPrimaryAddress :
                                                                        </strong>
                                                                        @{
                                                                            string PrimaryAddress = string.Empty;
                                                                            PrimaryAddress = CommonMethod.DisplayFormattedAddress(Model.Base.primaryAddressStreetLine1, Model.Base.primaryAddressCity, Model.Base.primaryAddressState, Model.Base.primaryAddressPostalCode, Model.Base.primaryAddressCountryIsoAlpha2Code);
                                                                        }
                                                                        @PrimaryAddress
                                                                        @if (Helper.LicenseEnableGoogleMap && !string.IsNullOrEmpty(PrimaryAddress))
                                                                        {
                                                                            <a onclick="window.open('http://maps.google.com/?q=@PrimaryAddress')" href="javascript:void(false)">
                                                                                <i class="fa fa-map-marker fa-lg"></i>
                                                                            </a>
                                                                        }
                                                                    </div>

                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-5 padding-top-0">
                                                                        <strong>@MatchDataLang.lblPremisesAreaMeasurement : </strong>

                                                                        @if (!string.IsNullOrEmpty(Model.Base.primaryAddressPremisesAreaMeasurement))
                                                                        {
                                                                            @Model.Base.primaryAddressPremisesAreaMeasurement
                                                                        }
                                                                        @if (!string.IsNullOrEmpty(Model.Base.primaryAddressPremisesAreaUnitDescription))
                                                                        {
                                                                            <text>,</text> @Model.Base.primaryAddressPremisesAreaUnitDescription
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6 padding-5">
                                                                        <strong>@MatchDataLang.lblLat :</strong>
                                                                        @if (!string.IsNullOrEmpty(Model.Base.primaryAddressLatitude))
                                                                        {
                                                                            @Model.Base.primaryAddressLatitude <text>,</text>
                                                                        }
                                                                        <strong>&nbsp; @MatchDataLang.lblLong : </strong>

                                                                        @if (!string.IsNullOrEmpty(Model.Base.primaryAddressLongitude))
                                                                        {
                                                                            @Model.Base.primaryAddressLongitude
                                                                        }
                                                                    </div>

                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-5 padding-top-0">
                                                                        <strong>@MatchDataLang.lblAreaPopulationRank : </strong>
                                                                        @if (!string.IsNullOrEmpty(Model.Base.primaryAddressStatisticalAreaPopulationRank))
                                                                        {
                                                                            @Model.Base.primaryAddressLongitude
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <div class="col-12 padding-bottom-5">
                                                                    <strong>
                                                                        @MatchDataLang.lblRegisteredAddress :
                                                                    </strong>
                                                                </div>
                                                                <div class="col-12 padding-bottom-5">
                                                                    @{
                                                                        string RegisteredAddress = string.Empty;
                                                                        RegisteredAddress = CommonMethod.DisplayFormattedAddress(Model.Base.registeredAddressStreetLine1, Model.Base.registeredAddressCity, Model.Base.registeredAddressState, Model.Base.registeredAddressPostalCode, Model.Base.registeredAddressCountry);
                                                                    }
                                                                    @RegisteredAddress
                                                                    @if (Helper.LicenseEnableGoogleMap && !string.IsNullOrEmpty(RegisteredAddress))
                                                                    {<a onclick="window.open('http://maps.google.com/?q=@RegisteredAddress')" href="javascript:void(false)">
                                                                            <i class="fa fa-map-marker fa-lg"></i>
                                                                        </a>}
                                                                </div>
                                                                <div class="col-12 padding-bottom-5">
                                                                    <strong>@MatchDataLang.lblMailingAddress : </strong>
                                                                    @{
                                                                        string MailingAddress = string.Empty;
                                                                        MailingAddress = CommonMethod.DisplayFormattedAddress(Model.Base.mailingAddressStreetAddressLine1, Model.Base.mailingAddressCity, Model.Base.mailingAddressState, Model.Base.mailingAddressPostalCode, Model.Base.mailingAddressCountryIsoAlpha2Code);
                                                                    }
                                                                    @MailingAddress
                                                                    @if (Helper.LicenseEnableGoogleMap && !string.IsNullOrEmpty(MailingAddress))
                                                                    {<a onclick="window.open('http://maps.google.com/?q=@MailingAddress')" href="javascript:void(false)">
                                                                            <i class="fa fa-map-marker fa-lg"></i>
                                                                        </a>}
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </article>

                                            </div>
                                            <div id="CompanyClassification" class="tab-pane padding-10">
                                                <div class="table-responsive wrap">
                                                    <table id="accordion" class="table table-bordered panel-group customTable" role="grid">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    @MatchDataLang.lblClassificationType
                                                                </th>
                                                                <th>
                                                                    @MatchDataLang.lblIndustryClassificationCode
                                                                </th>
                                                                <th>
                                                                    @MatchDataLang.lblIndustryclassification
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.lstIndustryCodes.Count > 0)
                                                            {
                                                                foreach (var item in Model.lstIndustryCodes)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @item.typeDescription
                                                                        </td>
                                                                        <td>
                                                                            @item.typeCode
                                                                        </td>
                                                                        <td>
                                                                            @item.industryDescription
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <tr>
                                                                    <td colspan="3">@MatchDataLang.lblNodataavailable</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div id="RegistrationNumbers" class="tab-pane padding-10">
                                                <div class="table-responsive wrap">
                                                    <table id="tblRegistration" class="table table-bordered panel-group customTable" role="grid">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    @MatchDataLang.lblRegistrationNumberType
                                                                </th>
                                                                <th>
                                                                    @MatchDataLang.lblRegistrationNumber
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.lstRegistrationNumbers.Count > 0)
                                                            {
                                                                foreach (var item in Model.lstRegistrationNumbers)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @item.registrationNumbersTypeDescription
                                                                        </td>
                                                                        <td>
                                                                            @item.registrationNumber
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <tr>
                                                                    <td colspan="2">
                                                                        @MatchDataLang.lblNodataavailable
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div id="SeniorManagement" class="tab-pane padding-10">
                                                <div class="table-responsive wrap">
                                                    <table id="tblSeniorManagement" class="table table-bordered panel-group customTable" role="grid">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    @MatchDataLang.lblName
                                                                </th>
                                                                <th>
                                                                    @MatchDataLang.lblJobTitle
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.lstCurrentPrincipals.Count > 0)
                                                            {
                                                                foreach (var item in Model.lstCurrentPrincipals)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @item.fullName
                                                                        </td>
                                                                        <td>
                                                                            @item.jobTitle
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <tr>
                                                                    <td colspan="2">
                                                                        @MatchDataLang.lblNodataavailable
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div id="StockExchanges" class="tab-pane padding-10">
                                                <div class="table-responsive wrap">
                                                    <table id="tblStockExchange" class="table table-bordered panel-group customTable" role="grid">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    @MatchDataLang.lblStockSymbol
                                                                </th>
                                                                <th>
                                                                    @MatchDataLang.lblDescription
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.lstStockExchanges.Count > 0)
                                                            {
                                                                foreach (var item in Model.lstStockExchanges)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @item.tickerName
                                                                        </td>
                                                                        <td>
                                                                            @item.description
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <tr>
                                                                    <td colspan="2">
                                                                        @MatchDataLang.lblNodataavailable
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                }
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        if (!$('input#EnablePurgeArchivet').is(':checked')) {
            $("#ArchivePeriodDays").attr("disabled", false);
        }
        else {
            $("#ArchivePeriodDays").attr("disabled", "disabled");
        }

    });
</script>