@using SBISCCMWeb.LanguageResources
@{
    ViewBag.Title = DandBSettingLang.hdrAddDUNStoregistration;
    Layout = null;
    string RegistrationsName = ViewBag.RegistrationsName == null ? "" : Convert.ToString(ViewBag.RegistrationsName);
    string AuthToken = ViewBag.AuthToken == null ? "" : Convert.ToString(ViewBag.AuthToken);
}
<style>
    body {
        min-height: auto;
    }
</style>
<div class="modal" id="AddDUNSMonitoringPlusModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xs">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center">
                    <ul id="widget-tab-Company" class="nav pull-right nav-pills Custom-pill">
                        <li>
                            <div class="clsAdditionActionFilter clsAdditionalAction btn">
                                <div class="input-group-btn">
                                    @using (Html.BeginForm("DownloadSampleFile", "DNBMonitoringDirectPlus", FormMethod.Post, new { @autocomplete = "off" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="submit" value="@DandBSettingLang.lblDownloadSamplefile" class="btn btn-secondary" />
                                    }
                                </div>
                            </div>
                        </li>
                    </ul>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <h4 class="modal-title">@ViewBag.Title</h4>
            </div>
            <div class="modal-body">
                <div class="tab-pane fade active in">
                    <div class="form-group">
                        <div class="">
                            @using (Ajax.BeginForm("AddDUNSMonitoringPlus", "DNBMonitoringDirectPlus", new AjaxOptions { HttpMethod = "POST", OnSuccess = "AddDUNSMonitoringPlus" }, new { role = "form", @autocomplete = "off", enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken();
                                @Html.Hidden("AuthToken", AuthToken)
                                @Html.Hidden("RegistrationsName", RegistrationsName)
                                <div class="row" style="margin-top: -8px;margin-bottom: 15px;">
                                    <div class="col-xs-12">
                                        <span>@DandBSettingLang.lblNote :<em>@DandBSettingLang.lblDUNSRegistration</em></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <span><strong>@DandBSettingLang.lblRegistration : </strong>@RegistrationsName</span>
                                    </div>
                                </div>
                                <div class="row margintop10">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input type="file" name="file" id="file" accept=".txt" class="form-control AddDUNSMonitoringPlusFileBrowser inputfile inputfile-6" autocomplete="off" />
                                            <label for="file">
                                                <span></span>
                                                <strong>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                                                        <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path>
                                                    </svg>
                                                    @CommonMessagesLang.lblBrowse
                                                </strong>
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <div class="row margintop10">
                                    <div class="col-md-12">
                                        <input type="submit" value="@DandBSettingLang.lblSubmit" class="btn btn-primary" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>



