@{
    ViewBag.Title = "Matchbook | Reset Password";
}
@{
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST"
    };
    string UserId = Convert.ToString(ViewBag.UserId);
    string EmailAddress = Convert.ToString(ViewBag.EmailAddress);
}
@Scripts.Render("~/bundles/popupjs")
@Styles.Render("~/Content/popupcss")

@using (Ajax.BeginForm("ResetPassword", "ConfigurationData", null, ajaxOptions, new { @class = "formContent", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("UserId", UserId)
    @Html.Hidden("EmailAddress", EmailAddress)
    @Html.Raw(ViewBag.CloseAlert)
    <div id="content" style="opacity: 1;">
        <section id="widget-grid" class="">
            <article class="sortable-grid ui-sortable col-md-12">
                <div class="form-group">
                    <div class="text-center margin-10">
                        @if (@ViewBag.Message != null)
                        {
                            <div class="alert alert-block alert-success">
                                <a class="close" href="#" data-dismiss="alert" onclick="closemsg()">×</a>
                                <h4 class="alert-heading">
                                    <i class="fa fa-check-square-o"></i>
                                    @ViewBag.Message
                                </h4>
                            </div>
                        }
                    </div>
                </div>
                <div  class="jarviswidget jarviswidget-sortable jarviswidget-color-blueDark" data-widget-custombutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false" role="widget">
                    <header role="heading">
                        <h2>
                            <strong >Reset Password</strong>
                        </h2>
                        @*<ul id="widget-tab-Company" class="nav pull-right nav-pills ">

                            <li>
                                <a data-placement="bottom" title="" rel="tooltip" class="button-icon jarviswidget-toggle-btn" href="javascript:void(0);" data-original-title="Collapse"><i class="fa fa-minus "></i></a>
                            </li>
                        </ul>*@
                    </header>
                    <div role="content">
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body">
                            <div class="tab-content">
                                <div class="tab-pane fade active in CustomHidden">
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3 text-right">Password </label>
                                            <div class="col-md-5">
                                                <input id="PasswordHash" type="password" name="PasswordHash" class="form-control nonReadOnly"  autocomplete="off" readonly="readonly" onfocus = "this.removeAttribute('readonly')"/>
                                                <span id="spnPassword" class="error" style="display:none;">The Password must be at least 8 characters long, contain alpha numeric characters and atleast one special character.</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="control-label col-md-3 text-right">Confirm Password </label>
                                            <div class="col-md-5">
                                                <input id="ConfirmPassword" type="password" name="ConfirmPassword" class="form-control nonReadOnly" autocomplete="off" readonly="readonly" onfocus = "this.removeAttribute('readonly')"/>
                                                <span id="spnConfirmPassword" class="error" style="display:none;">The Password must be at least 8 characters long, contain alpha numeric characters and atleast one special character.</span>
                                                <span id="spnMatch" class="error" style="display:none;">Password does not match with confirm password.</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 text-center paddingto5">
                                                <input type="submit" value="Reset Password" id="btnResetPassword" name="btnResetPassword" class="btn btn-primary btnResetPassword " />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
   
}
<script src="~/Scripts/CustomJS-minified/ResetPassword.js"></script>
<script src="~/Scripts/CustomJS-minified/Common.js"></script>
