@using SBISCCMWeb.Utility;
@using SBISCCMWeb.Models;
@using SBISCompanyCleanseMatchBusiness.Objects.EntitiesAndAdapters;

@model IPagedList<MonitoringElementConditionsEntity>
@{
    ViewBag.Title = "Monitor Profile";
    Layout = null;
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "DivElementConditions",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        OnSuccess = "OnSuccess"
    };

}
@Scripts.Render("~/bundles/popupjs")
@Styles.Render("~/Content/popupcss")
@Html.AntiForgeryToken()
<div id="content" style="opacity: 1;">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12  sortable-grid ui-sortable">
                <div class="jarviswidget jarviswidget-sortable jarviswidget-color-blueDark" data-widget-custombutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false" role="widget">
                    <header role="heading">
                        <h2>
                            <strong>Define Business Elements</strong>
                        </h2>
                        <ul id="widget-tab-Company" class="nav pull-right nav-pills Custom-pill">
                            <li>
                            </li>
                        </ul>
                    </header>

                    <div role="content">
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <div class="tab-content padding-10">
                                <div id="hr2" class="tab-pane fade fade active in DivElementConditions">
                                    @*<label class="select pull-right" style="padding-right:10px;">
                                        Page Size :  @Html.DropDownList("pagevalueCondition", new SelectList(SBISCCMWeb.Utility.CommonMethod.GetPageSize(), Convert.ToInt32(TempData["pageno"])), new { id = "pagevalueCondition", @class = "pagevalueChangeCondition" })<i></i>
                                    </label>*@
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                @*<th> @Ajax.ActionLink("Element", "BusinessElement", new { page = ViewBag.pageno, pagevalue = ViewBag.pagevalue, sortby = 1, sortorder = (ViewBag.SortBy == 1 ? (ViewBag.SortOrder == 1 ? 2 : 1) : 1) }, ajaxOptions)</th>
                                                <th> @Ajax.ActionLink("Condition", "BusinessElement", new { page = ViewBag.pageno, pagevalue = ViewBag.pagevalue, sortby = 2, sortorder = (ViewBag.SortBy == 2 ? (ViewBag.SortOrder == 1 ? 2 : 1) : 1) }, ajaxOptions)</th>
                                                <th> @Ajax.ActionLink("Value", "BusinessElement", new { page = ViewBag.pageno, pagevalue = ViewBag.pagevalue, sortby = 3, sortorder = (ViewBag.SortBy == 3 ? (ViewBag.SortOrder == 1 ? 2 : 1) : 1) }, ajaxOptions)</th>*@
                                                <th>Element</th>
                                                <th>Condition</th>
                                                <th>Value</th>
                                                <th class="col-md-4">Edit</th>
                                                <th class="col-md-4">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                if (Model.Count > 0)
                                                {
                                                    foreach (var item in Model)
                                                    {
                                                        
                                                        <tr>
                                                            <th class="col-md-4">@item.ElementName</th>
                                                            <th class="col-md-4">@item.ChangeCondition</th>
                                                            <th class="col-md-4">@item.Condition.Replace("@#$"," ")</th>
                                                            <td>@Html.ActionLink("Edit", "", "", new { @id = item.TempConditionId, href = "#", @class = "EditMAinConditon" })</td>
                                                            <td>@Html.ActionLink("Delete", "", "", new { @id = item.TempConditionId, href = "#", @class = "DeleteMAinConditon" })</td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>

                                    <div class="dt-toolbar-footer">
                                        <div class="col-sm-7 col-xs-7 hidden-xs">
                                            <div id="datatable_tabletools_info" class="dataTables_info" role="status" aria-live="polite">
                                                <a id="pagingFormAction" href="@Url.Action("BusinessElement", "MonitorProfile", new {  page = 1, pagevalue = ViewBag.pagevalue, sortby = ViewBag.SortBy, sortorder = ViewBag.SortOrder })" style="display:block"></a>
                                                @Html.PagedListPager(Model, page => Url.Action("BusinessElement", "MonitorProfile", new { page = page, pagevalue = ViewBag.pagevalue, sortby = ViewBag.SortBy, sortorder = ViewBag.SortOrder }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions() { ContainerDivClasses = new[] { "dataTables_paginate paging_simple_numbers" } }, new AjaxOptions() { HttpMethod = "replace", UpdateTargetId = "DivElementConditions", LoadingElementId = "divProgress", OnSuccess = "OnSuccess()" }))
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <input id="btnAddBusinessElements" class="btn btn-primary btnBlack " type="submit" name="btnadd" value="Add" />
                                        <input id="btnBackToProfile" class="btn btn-primary btnBlack " type="button" name="btnback" value="Back To Monitoring Profile" />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<div class="loaderMain" id="divProgress">
    <div class="loaderDiv">
        <p class="loaderTxt">Please wait while processing...</p>
    </div>
</div>
<script src="~/Scripts/CustomJS-minified/MonitorProfile.js"></script>
