@using PagedList.Mvc;
@using SBISCompanyCleanseMatchBusiness.Objects.EntitiesAndAdapters
@using SBISCCMWeb.Utility;
@model PagedList.IPagedList<MonitoringProfileEntity>
@{
    Layout = null;
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "divPartialMonitoringData",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        OnSuccess = "OnSuccess"
    };
    string MonitoringSortOrder = Convert.ToString(ViewBag.SortOrder);
    string MonitoringSortBy = Convert.ToString(ViewBag.SortBy);
}
@Html.Hidden("MonitoringPageValue", Convert.ToInt32(TempData["pagevalue"]))
@Html.Hidden("MonitoringSortOrder", MonitoringSortOrder)
@Html.Hidden("MonitoringSortBy", MonitoringSortBy)
<div class="table-responsive">
    @using (Ajax.BeginForm("IndexMonitoringProfile", "MonitorProfile", FormMethod.Post, ajaxOptions, new { id = "form_Monitoring" }))
    {
        @Html.AntiForgeryToken()
        <label class="select pull-right" style="padding-right:10px;">
            Page Size :  @Html.DropDownList("pagevalue", new SelectList(SBISCCMWeb.Utility.CommonMethod.GetPageSize(), Convert.ToInt32(TempData["pagevalue"])), new { id = "pagevalue", @class = "pagevalueChangeMonitorProfile", @autocomplete = "off" })<i></i>
        </label>
        <table class="table table-bordered table-fixed-user">
            <thead>
                <tr>
                    <th> @Ajax.ActionLink("Profile Name", "IndexMonitoringProfile", "MonitorProfile", new { page = ViewBag.pageno, pagevalue = ViewBag.pagevalue, sortby = 1, sortorder = (ViewBag.SortBy == 1 ? (ViewBag.SortOrder == 1 ? 2 : 1) : 1) }, ajaxOptions)</th>
                    <th> @Ajax.ActionLink("Description", "IndexMonitoringProfile", "MonitorProfile", new { page = ViewBag.pageno, pagevalue = ViewBag.pagevalue, sortby = 2, sortorder = (ViewBag.SortBy == 2 ? (ViewBag.SortOrder == 1 ? 2 : 1) : 1) }, ajaxOptions)</th>
                    <th> @Ajax.ActionLink("Product", "IndexMonitoringProfile", "MonitorProfile", new { page = ViewBag.pageno, pagevalue = ViewBag.pagevalue, sortby = 3, sortorder = (ViewBag.SortBy == 3 ? (ViewBag.SortOrder == 1 ? 2 : 1) : 1) }, ajaxOptions)</th>
                    <th> @Ajax.ActionLink("Level", "IndexMonitoringProfile", "MonitorProfile", new { page = ViewBag.pageno, pagevalue = ViewBag.pagevalue, sortby = 4, sortorder = (ViewBag.SortBy == 4 ? (ViewBag.SortOrder == 1 ? 2 : 1) : 1) }, ajaxOptions)</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var SingleCondition = item.SingleCondition == false ? "Multiple" : "Single";
                    <tr>
                        <td>@item.ProfileName</td>
                        <td>@item.ProfileDescription</td>
                        <td>@item.ProductCode</td>
                        <td>@item.MonitoringLevel</td>
                        <td>@Html.ActionLink("Edit", "", "", new { @id = item.MonitoringProfileID, href = "#", @class = "EditMonitorProfile" })</td>
                        <td>@Html.ActionLink("Delete", "", "", new { @id = item.MonitoringProfileID, href = "#", @class = "DeleteMonitorProfile" })</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="dt-toolbar-footer">
            <div class="col-sm-12 col-xs-12 hidden-xs">
                <div id="datatable_tabletools_info" class="dataTables_info" role="status" aria-live="polite">
                    <a id="pagingFormAction" href="@Url.Action("IndexMonitoringProfile", "MonitorProfile", new {  page = 1, pagevalue = ViewBag.pagevalue, sortby = ViewBag.SortBy, sortorder = ViewBag.SortOrder })" style="display:block"></a>
                    @Html.PagedListPager(Model, page => Url.Action("IndexMonitoringProfile", "MonitorProfile", new { page = page, pagevalue = ViewBag.pagevalue, sortby = ViewBag.SortBy, sortorder = ViewBag.SortOrder }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions() { ContainerDivClasses = new[] { "dataTables_paginate paging_simple_numbers" } }, new AjaxOptions() { HttpMethod = "replace", UpdateTargetId = "divPartialMonitoringData", LoadingElementId = "divProgress", OnSuccess = "OnSuccess()" }))
                </div>
            </div>
        </div>
    }
</div>
<div class="loaderMain" id="divProgress">
    <div class="loaderDiv">
        <p class="loaderTxt">Please wait while processing...</p>
    </div>
</div>
@if (!string.IsNullOrEmpty(Convert.ToString(TempData["ResponseErroeMessage"])))
{
    <script type="text/javascript">
         bootbox.alert({
            title: "<i class='fa fa-info-circle' aria-hidden='true'></i> Message",
            message: '@TempData["ResponseErroeMessage"]'
        });
    </script>
    TempData.Remove("ResponseErroeMessage");
}