@using SBISCCMWeb.LanguageResources;
@using SBISCompanyCleanseMatchBusiness.Objects.EntitiesAndAdapters;
@using SBISCCMWeb.Utility;
@model List<AutoAcceptanceCriteriaDetail>
@{
    if (Helper.Branding == Branding.Matchbook.ToString())
    {
        ViewBag.Title = CommonMessagesLang.lblMatchbook + " | " + DandBSettingLang.titleMatchData;
    }
    else if (Helper.Branding == Branding.DandB.ToString())
    {
        ViewBag.Title = CommonMessagesLang.lblDunBradstreet + " | " + DandBSettingLang.titleMatchData;
    }
    Layout = null;
}

<tr class="trAutoAcceptanceItemView">
    <td class="panel-heading border-right-none"></td>
    <td colspan="11">
        <div class="InnerAutoAcceptanceDetail ">
            <table class="table  table-border  panel-collapse customTable widht75">
                <tr>
                    <th>@DandBSettingLang.lblConfidenceCode</th>
                    <th>@DandBSettingLang.lblMatchGrade</th>
                    <th>@DandBSettingLang.lblMDPCode</th>
                    @if (Helper.LicenseEnableTags)
                    {
                        <th>@DandBSettingLang.lblTag</th>
                    }
                </tr>
                @if (Model.Count > 0)
                {
                    foreach (var innerItem in Model)
                    {
                        <tr>
                            <td>@innerItem.ConfidenceCode</td>
                            <td>@innerItem.MatchGrade</td>
                            <td>@innerItem.MDPCode</td>
                            @if (Helper.LicenseEnableTags)
                            {
                                <td>@innerItem.Tag</td>
                            }
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        @if (Helper.LicenseEnableTags)
                        {
                            <td colspan="4">@DandBSettingLang.lblNoDataAreAvailable</td>
                        }
                        else
                        {
                            <td colspan="3">@DandBSettingLang.lblNoDataAreAvailable</td>
                        }
                    </tr>
                }
            </table>
        </div>
    </td>
</tr>
