@using SBISCCMWeb.Utility;
@using SBISCCMWeb.LanguageResources;
@{
    Layout = null;
    bool EnableExportData = Helper.oUser.EnableExportData;
}
@if (Helper.Branding == Branding.DandB.ToString())
{
    <link href="~/Content/DandB.css" rel="stylesheet" />
}
@*var action = menuitem.WebPath.Split('/');
    var Controllername = action.Length > 1 ? action[1] : "";
    var actionname = action.Length > 2 ? action[2] : "";*@

<nav class="mainNav">
    <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul style="">
        <li class="open active"></li>
        <li class="@Html.RouteIfParent("OIHome", "active")">
            <a href="/OI/Home/" title="@OrbMenuLang.titleDashboard">
                <i class="fa fa-lg fa-fw fa-home "></i> <span class="menu-item-parent">@OrbMenuLang.lblDashboard</span>
            </a>
        </li>
        <li class="@Html.RouteIfParent("ImportData", "active")">
            <a href="/ImportData" title="@OrbMenuLang.titleImportData">
                <svg version="1.1" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="14px"
                     viewBox="0 0 12 14" enable-background="new 0 0 12 14" xml:space="preserve">
                <metadata>
                <sfw xmlns="&ns_sfw;">
                <slices></slices>
                <sliceSourceBounds height="11.742" width="10.715" y="-12.871" x="0.643" bottomLeftOrigin="true"></sliceSourceBounds>
	            </sfw>
                </metadata>
                <g>
                <polygon fill="#ACDCFF" points="8.65,1.129 9.813,8.403 2.936,10.117 	" />

                <g>
                <rect x="2.829" y="3.267" transform="matrix(-0.537 0.8436 -0.8436 -0.537 10.9454 3.7652)" fill="#ACDCFF" width="3.221" height="3.238" />

                <rect x="0.383" y="2.686" transform="matrix(-0.5374 0.8433 -0.8433 -0.5374 5.813 3.3317)" fill="#ACDCFF" width="3.22" height="1.149" />

	            </g>
                <rect x="0.643" y="10.508" fill="#ACDCFF" width="10.715" height="2.363" />

                <rect x="10.399" y="10.869" fill="#FFFFFF" width="0.517" height="0.223" />

                </g>
                </svg> 
                <span class="menu-item-parent margin-left-5">@OrbMenuLang.lblImportData</span>
            </a>
        </li>
        <li class="@Html.RouteIfParent("OIMatchData", "active")">
            <a href="/OI/MatchData" title="@OrbMenuLang.titleMatchData">
                <i class="fa fa-lg fa-fw fa-outdent "></i> <span class="menu-item-parent">@OrbMenuLang.lblMatchData</span>
            </a>
        </li>

        <li class="@Html.RouteIfParent("", " active")">
            <a href="#" title="@OrbMenuLang.titleProspecting">
                <i class="fa fa-lg fa-fw fa-search "></i> <span class="menu-item-parent">@OrbMenuLang.lblProspecting</span>
                <b class="collapse-sign"><em class="fa fa-expand-o"></em></b>
            </a>
            <ul style="display: none;">
                <li class="@Html.RouteIfParent("OISearchdata", "active")">
                    <a href="/OI/Searchdata" title="@OrbMenuLang.titleSearchData">
                        <span class="menu-item-parent">@OrbMenuLang.lblSearchData</span>
                    </a>
                </li>
                @if (Helper.LicenseBuildAList)
                {
                    <li class="@Html.RouteIfParent("OIBuildList", "active")">
                        <a href="/OI/BuildList/Search" title="@OrbMenuLang.titleBuildAList">
                            <span class="menu-item-parent">@OrbMenuLang.lblBuildAList</span>
                        </a>
                    </li>
                }
                else
                {
                    if (Helper.Branding == Branding.Matchbook.ToString())
                    {
                        <li>
                            <a href="javascript:void(0)" title="@BrandingLang.msgMBFeature" class="clsDisable">
                                <span class="menu-item-parent">@OrbMenuLang.lblBuildAList</span>
                            </a>
                        </li>
                    }
                    else if (Helper.Branding == Branding.DandB.ToString())
                    {
                        <li>
                            <a href="javascript:void(0)" title="@BrandingLang.msgDNBFeature" class="clsDisable">
                                <span class="menu-item-parent">@OrbMenuLang.lblBuildAList</span>
                            </a>
                        </li>
                    }
                }
            </ul>
        </li>
        @if (Helper.oUser.UserType.ToLower() != "steward")
        {
            <li class="@Html.RouteIfParent("OIExportView", "active")">

                <a href="/OI/ExportView" title="@OrbMenuLang.titleExportData">
                    <svg version="1.1" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="14px"
                         viewBox="0 0 12 14" enable-background="new 0 0 12 14" xml:space="preserve">
                    <metadata>
                    <sfw xmlns="&ns_sfw;">
                    <slices></slices>
                    <sliceSourceBounds height="13.069" width="16383" y="-13.622" x="-8185" bottomLeftOrigin="true"></sliceSourceBounds>
	            </sfw>
                </metadata>
                    <g>
                    <g>
                    <polygon fill="#ACDCFF" points="2.137,1.715 9.411,0.553 11.125,7.43" />

                    <g>
                    <rect x="4.284" y="4.307" transform="matrix(0.8436 0.537 -0.537 0.8436 4.1042 -2.2382)" fill="#ACDCFF" width="3.221" height="3.238" />

                    <rect x="2.658" y="7.798" transform="matrix(0.8433 0.5375 -0.5375 0.8433 5.1689 -0.9818)" fill="#ACDCFF" width="3.221" height="1.149" />

		        </g>
	            </g>
                    <rect x="0.642" y="11.259" fill="#ACDCFF" width="10.715" height="2.363" />

                    <rect x="10.398" y="11.62" fill="#FFFFFF" width="0.518" height="0.223" />

                </g>
                </svg> &nbsp;
                    <span class="menu-item-parent margin-left-5">@OrbMenuLang.lblExportData</span>
                </a>

            </li>
        }
        else
        {
            if (EnableExportData)
            {
                <li class="@Html.RouteIfParent("OIExportView", "active")">

                    <a href="/OI/ExportView" title="@OrbMenuLang.titleExportData">
                        <svg version="1.1" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
                             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="14px"
                             viewBox="0 0 12 14" enable-background="new 0 0 12 14" xml:space="preserve">
                        <metadata>
                        <sfw xmlns="&ns_sfw;">
                        <slices></slices>
                        <sliceSourceBounds height="13.069" width="16383" y="-13.622" x="-8185" bottomLeftOrigin="true"></sliceSourceBounds>
	                    </sfw>
                        </metadata>
                                <g>
                                <g>
                                <polygon fill="#ACDCFF" points="2.137,1.715 9.411,0.553 11.125,7.43" />
                        
                                <g>
                                <rect x="4.284" y="4.307" transform="matrix(0.8436 0.537 -0.537 0.8436 4.1042 -2.2382)" fill="#ACDCFF" width="3.221" height="3.238" />
                        
                                <rect x="2.658" y="7.798" transform="matrix(0.8433 0.5375 -0.5375 0.8433 5.1689 -0.9818)" fill="#ACDCFF" width="3.221" height="1.149" />
                        
		                </g>
	                    </g>
                                <rect x="0.642" y="11.259" fill="#ACDCFF" width="10.715" height="2.363" />
                        
                                <rect x="10.398" y="11.62" fill="#FFFFFF" width="0.518" height="0.223" />
                        
                        </g>
                        </svg>
                        <span class="menu-item-parent margin-left-5">@OrbMenuLang.lblExportData</span>
                    </a>

                </li>
            }
            else
            {
                if (Helper.Branding == Branding.Matchbook.ToString())
                {
                    <li>
                        <a href="javascript:void(0)" title="@BrandingLang.msgMBFeature" class="clsDisable">
                            <svg version="1.1" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="14px"
                                 viewBox="0 0 12 14" enable-background="new 0 0 12 14" xml:space="preserve">
                            <metadata>
                            <sfw xmlns="&ns_sfw;">
                            <slices></slices>
                            <sliceSourceBounds height="13.069" width="16383" y="-13.622" x="-8185" bottomLeftOrigin="true"></sliceSourceBounds>
	                        </sfw>
                            </metadata>
                                        <g>
                                        <g>
                                        <polygon fill="#ACDCFF" points="2.137,1.715 9.411,0.553 11.125,7.43" />
                            
                                        <g>
                                        <rect x="4.284" y="4.307" transform="matrix(0.8436 0.537 -0.537 0.8436 4.1042 -2.2382)" fill="#ACDCFF" width="3.221" height="3.238" />
                            
                                        <rect x="2.658" y="7.798" transform="matrix(0.8433 0.5375 -0.5375 0.8433 5.1689 -0.9818)" fill="#ACDCFF" width="3.221" height="1.149" />
                            
		                    </g>
	                        </g>
                                        <rect x="0.642" y="11.259" fill="#ACDCFF" width="10.715" height="2.363" />
                            
                                        <rect x="10.398" y="11.62" fill="#FFFFFF" width="0.518" height="0.223" />
                            
                            </g>
                            </svg>
                            <span class="menu-item-parent margin-left-5">@OrbMenuLang.lblExportData</span>
                        </a>
                    </li>
                }
                else if (Helper.Branding == Branding.DandB.ToString())
                {
                    <li>
                        <a href="javascript:void(0)" title="@BrandingLang.msgDNBFeature" class="clsDisable">
                            <svg version="1.1" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="14px"
                                 viewBox="0 0 12 14" enable-background="new 0 0 12 14" xml:space="preserve">
                            <metadata>
                            <sfw xmlns="&ns_sfw;">
                            <slices></slices>
                            <sliceSourceBounds height="13.069" width="16383" y="-13.622" x="-8185" bottomLeftOrigin="true"></sliceSourceBounds>
	                        </sfw>
                            </metadata>
                                        <g>
                                        <g>
                                        <polygon fill="#ACDCFF" points="2.137,1.715 9.411,0.553 11.125,7.43" />
                            
                                        <g>
                                        <rect x="4.284" y="4.307" transform="matrix(0.8436 0.537 -0.537 0.8436 4.1042 -2.2382)" fill="#ACDCFF" width="3.221" height="3.238" />
                            
                                        <rect x="2.658" y="7.798" transform="matrix(0.8433 0.5375 -0.5375 0.8433 5.1689 -0.9818)" fill="#ACDCFF" width="3.221" height="1.149" />
                            
		                    </g>
	                        </g>
                                        <rect x="0.642" y="11.259" fill="#ACDCFF" width="10.715" height="2.363" />
                            
                                        <rect x="10.398" y="11.62" fill="#FFFFFF" width="0.518" height="0.223" />
                            
                            </g>
                            </svg>
                            <span class="menu-item-parent margin-left-5">@OrbMenuLang.lblExportData</span>
                        </a>
                    </li>
                }
            }
        }

        <li class="@Html.RouteIfParent("", "active")">

            <a href="#" title="@OrbMenuLang.titleSettings">
                <i class="fa fa-wrench"></i> <span class="menu-item-parent">@OrbMenuLang.lblSettings</span>
                <b class="collapse-sign"><em class="fa fa-expand-o"></em></b>
            </a>

            <ul style="display: none;">
                @if (Helper.UserType.ToLower() != "steward")
                {
                    <li class="@Html.RouteIfParent("Features", "active")">
                        <a href="/Portal/Features" title="@OrbMenuLang.titlePortal">
                            <span class="menu-item-parent">@OrbMenuLang.lblPortal</span>
                        </a>
                    </li>
                }
                else if(Helper.UserType.ToLower() == "steward")
                {
                    <li class="@Html.RouteIfParent("AboutUs", "active")">
                        <a href="/Portal/AboutUs" title="@DnBMenuLang.titlePortal">
                            <span class="menu-item-parent">@DnBMenuLang.lblPortal</span>
                        </a>
                    </li>
                }
                @if (Helper.oUser.UserType.ToLower() != "steward")
                {
                    <li class="@Html.RouteIfParent("OISetting", "active")">
                        <a href="/OI/Setting/License" title="@OrbMenuLang.titleOrbIntelligence">
                            <span class="menu-item-parent">@OrbMenuLang.lblOrbIntelligence</span>
                        </a>
                    </li>
                }
            </ul>
        </li>
        <li class="@Html.RouteIfParent("", "active")">

            <a href="#" title="@OrbMenuLang.titleReports">
                <i class="fa fa-lg fa-fw fa-list  "></i> <span class="menu-item-parent">@OrbMenuLang.lblReports</span>
                <b class="collapse-sign"><em class="fa fa-expand-o"></em></b>
            </a>

            <ul style="display: none;">
                @*<li class="@Html.RouteIfParent("", "active")">
                   <a href="/ReportsList" title="Base Reports">
                       <span class="menu-item-parent">Base Reports</span>
                   </a>
                </li>*@
                @if (Helper.Branding == Branding.Matchbook.ToString())
                {
                    <li class="@Html.RouteIfParent("", "active")">
                        <a href="/Ticket" title="@OrbMenuLang.titleHelpDesk">
                            <span class="menu-item-parent">@OrbMenuLang.lblHelpDesk</span>
                        </a>
                    </li>
                }
                <li class="@Html.RouteIfParent("", "active")">
                    <a href="/OIInvestigateView/InvestigationReport" title="@OrbMenuLang.titleInvestigationReport">
                        <span class="menu-item-parent">@OrbMenuLang.lblInvestigationReport</span>
                    </a>
                </li>
                @*@if (Helper.LicenseEnableInvestigations && Helper.oUser.EnableInvestigations)
                {

                }
                else
                {
                    if (Helper.Branding == Branding.Matchbook.ToString())
                    {
                         <li class="@Html.RouteIfParent("", "active")">
                        <a href="javascript:void(0)" title="@BrandingLang.msgMBFeature" class="clsDisable">
                            <span class="menu-item-parent">Investigation Report</span>
                        </a>
                    </li>
                    }
                    else if (Helper.Branding == Branding.DandB.ToString())
                    {
                         <li class="@Html.RouteIfParent("", "active")">
                        <a href="javascript:void(0)" title="@BrandingLang.msgDNBFeature" class="clsDisable">
                            <span class="menu-item-parent">Investigation Report</span>
                        </a>
                    </li>
                    }
                }*@

            </ul>
        </li>
        <li class="liCircleUserText">
            <span class="minifyme" id="minifymeMenu" data-action="minifyMenu">
                <i class="fa fa-arrow-circle-left hit"></i>
            </span>
            <div class="circleUserText bgimage">
                <span class="ActiveUser">@OrbMenuLang.lblActiveUsers <br /> 0</span>
            </div>

            <div class="userdatacount-new" style="display:none!important">
                <span class="backgroundProcessUserCountData"></span>
            </div>
            <div class="backgroundProcess-new">
                <span class="process-popup">
                    @OrbMenuLang.lblBackGroundProcessStatus
                </span>
                <div class="bgProcess">
                    <span class="backgroundProcess"></span>
                </div>
            </div>
        </li>
    </ul>
</nav>
