@using SBISCompanyCleanseMatchBusiness.Objects.EntitiesAndAdapters
@model List<ThirdPartyAPICredentialsEntity>

<div>
    <article class="col-md-12 sortable-grid ui-sortable widget-data">
        <div class="jarviswidget jarviswidget-sortable jarviswidget-color-blueDark" data-widget-custombutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false" role="widget">
            <header role="heading">
                <h2>
                    <strong>Third Party API Credentials</strong>
                </h2>
                <ul id="widget-tab-Company" class="nav pull-right nav-pills Custom-pill">
                    <li>
                        <div class="btn btn-sm btn-Secondary" id="AddOrbThirdPartyAPICredentials" title="Add New Third Party API Credentials">
                            <span class="fa fa-plus"></span>
                        </div>
                    </li>
                </ul>
            </header>
            <div role="content">
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div class="tab-content">
                        <div class="tab-pane fade active in">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            Credential Name
                                        </th>
                                        <th>
                                            Credential
                                        </th>
                                        <th>
                                            Error
                                        </th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Count > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CredentialName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.APICredential)
                                                </td>
                                                <td>
                                                    <span class="error">@Html.DisplayFor(modelItem => item.ErrorDescription)</span>
</td>
                                                <td>
                                                    <a href="javascript:void(0)" class="editThirdPartyAPICredentials" data-CredentialId="@item.CredentialId">Edit</a>
                                                </td>
                                                <td>
                                                    <a href="javascript:void(0)" class="deleteThirdPartyAPICredentials" data-CredentialId="@item.CredentialId">Delete</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="5">
                                                No data available.
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

</div>

