@using SBISCompanyCleanseMatchBusiness.Objects.EntitiesAndAdapters
@using SBISCCMWeb.Utility;
@using SBISCCMWeb.LanguageResources;
@model OISettingEntity
@{ AjaxOptions OrbLicenseajaxOptions = new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        OnSuccess = "SuccessOrbBackground"
    };
}
<article class="col-md-6 sortable-grid ui-sortable" id="articleDandBDirectCredentialsTop">
    <div class="sortable-grid ui-sortable widget-data" id="articleDnBDirectCredentials">
        <div class="jarviswidget jarviswidget-sortable jarviswidget-color-blueDark" data-widget-custombutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false" role="widget">
            <header role="heading">
                <h2>
                    <i class="fa fa-slack"></i>
                    <strong>@OISettingLang.hdrBackgroundProcessSettings</strong>
                </h2>
            </header>
            <div role="content">
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body no-padding">
                    <div class="tab-content padding-10">
                        <div class="divPartialOrbLicense">
                            @using (Ajax.BeginForm("OIBackgroundProcessSettings", "OISetting", null, OrbLicenseajaxOptions, new { @class = "frmOrbLicense m-style", id = "frmOrbLicense", @autocomplete = "off" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-group">
                                    <div class="row">
                                        <label class="control-label col-md-4"><strong>@OISettingLang.lblORBBATCHSIZE</strong></label>
                                        <div class="col-sm-6 col-xs-6">
                                            @Html.TextBoxFor(model => model.ORB_BATCH_SIZE, new { @class = "form-control sideTextboxes", autocomplete = "off", onfocus = "this.removeAttribute('readonly');" })
                                            <span class="error" id="SpnBatchsize" style="display:none">@OISettingLang.lblEnterBatchSize</span>
                                            @*<span id="spnIsValidBatchSize" class="error pull-left" style="display:none;">@OISettingLang.lblValidBatch</span>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="control-label col-md-4"><strong>@OISettingLang.lblORBBATCHWAITTIMESECS</strong></label>
                                        <div class="col-sm-6 col-xs-6">
                                            @Html.TextBoxFor(model => model.ORB_BATCH_WAITTIME_SECS, new { @class = "form-control sideTextboxes", autocomplete = "off", onfocus = "this.removeAttribute('readonly');" })
                                            <span class="error" id="SpnBatchWaittimeSecs" style="display:none">@OISettingLang.lblEnterBATCHWAITTIMESECS</span>
                                            @*<span id="spnIsValidBatchWaittimeSecs" class="error pull-left" style="display:none;">@OISettingLang.lblValidBatch</span>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="control-label col-md-4"><strong>@OISettingLang.lblORBMAXPARALLELTHREADS</strong></label>
                                        <div class="col-sm-6 col-xs-6">
                                            @Html.TextBoxFor(model => model.ORB_MAX_PARALLEL_THREADS, new { @class = "form-control sideTextboxes", autocomplete = "off", onfocus = "this.removeAttribute('readonly');" })
                                            <span class="error" id="SpnMaxParallelThreads" style="display:none">@OISettingLang.lblEnterMaxParallelThreads</span>
                                            @*<span id="spnIsValidMaxParallelThreads" class="error pull-left" style="display:none;">@OISettingLang.lblValidBatch</span>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="control-label col-md-4"><strong>@OISettingLang.lblPAUSEORBBATCHMATCHETL</strong></label>
                                        <div class="col-md-1">
                                            <label class="switch">
                                                <input type="checkbox" name="PAUSE_ORB_BATCHMATCH_ETL" id="PAUSE_ORB_BATCHMATCH_ETL" checked="@(Model.PAUSE_ORB_BATCHMATCH_ETL)">
                                                <span class="Toggleslider round"></span>
                                            </label>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="control-label col-md-4"><strong>@OISettingLang.lblORBENABLECORPORATETREEENRICHMENT</strong></label>
                                       <div class="col-md-1">
                                            <label class="switch">
                                                <input type="checkbox" name="ORB_ENABLE_CORPORATE_TREE_ENRICHMENT" id="ORB_ENABLE_CORPORATE_TREE_ENRICHMENT" checked="@(Model.ORB_ENABLE_CORPORATE_TREE_ENRICHMENT)">
                                                <span class="Toggleslider round"></span>
                                            </label>
                                        </div>
                                    </div>

                                </div>
                                if (Helper.oUser != null && (Helper.oUser.UserRole == UserRole.GLOBAL.ToString()))
                                {
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <input type="submit" value="@OISettingLang.lblUpdate" name="btnSubmitOrbBackgroundProcess" id="btnSubmitOrbBackgroundProcess" class="btn btn-primary" onclick="return CheckBackgroundValidation()"/>
                                            </div>
                                        </div>
                                    </div>
                                }


                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
