@using SBISCCMWeb.LanguageResources;
@using SBISCompanyCleanseMatchBusiness.Objects.EntitiesAndAdapters
@model List<ThirdPartyAPICredentialsEntity>
@{
    Layout = null;
}
<div>
    <article class="col-md-12 sortable-grid ui-sortable widget-data">
        <div class="jarviswidget jarviswidget-sortable jarviswidget-color-blueDark" data-widget-custombutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false" role="widget">
            <header role="heading">
                <h2>
                    <strong>@DandBSettingLang.hdrDandBLicenseKeys</strong>
                </h2>
                <ul id="widget-tab-Company" class="nav pull-right nav-pills Custom-pill">
                    <li>
                        <div class="btn btn-sm btn-Secondary" title="@DandBSettingLang.titleAddNewCredentials" onclick="AddUpdateThirdPartyAPICredentials()">
                            <span class="fa fa-plus"></span>
                        </div>
                    </li>
                </ul>
            </header>
            <div role="content">
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div class="">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>@DandBSettingLang.lblCredential Name</th>
                                    <th>@DandBSettingLang.lblCredential</th>
                                    <th>@DandBSettingLang.lblAPIType</th>
                                    <th>@DandBSettingLang.lblError</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CredentialName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.APICredential)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.APIType)
                                    </td>
                                    <td>
                                        <span class="error">@Html.DisplayFor(modelItem => item.ErrorDescription)</span>
                                    </td>
                                    <td>
                                        <a href="javascript:void(0)" class="editThirdPartyAPICredentials" data-CredentialId="@item.CredentialId">@DandBSettingLang.lblEdit</a>
                                    </td>
                                    <td>
                                        <a href="javascript:void(0)" class="deleteThirdPartyAPICredentials" data-CredentialId="@item.CredentialId">@DandBSettingLang.lblDelete</a>
                                    </td>
                                    <td>
                                        <a href="javascript:void(0)" class="setEntilementForThirdPartyAPICredentials" data-APIType="@item.APIType" data-CredentialId="@item.CredentialId">@DandBSettingLang.lblSetEntitlements</a>
                                    </td>
                                </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="7">
                                            @DandBSettingLang.lblNoDataAreAvailable
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
