@using PagedList.Mvc;
@using SBISCompanyCleanseMatchBusiness.Objects.EntitiesAndAdapters;
@using SBISCCMWeb.Utility;
@{
    string InputId = Convert.ToString(ViewBag.InputId);
    int count = Convert.ToInt32(ViewBag.MatchCount);
}
<link href="~/Content/Template/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Scripts/plugin/magnific/magnific-popup.css" rel="stylesheet" />
<script src="/Scripts/modernizr-2.6.2.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@using (Html.BeginForm("OpenSearchData", "ApproveMatchData", FormMethod.Post))
{
    @Html.Hidden("InputId", InputId)
    @Html.Hidden("Count", count)
    @Html.Raw(ViewBag.CloseAlert)
    @Html.AntiForgeryToken()
    <div id="StewardshipNotes" class="marginAll_10">
        <div class="well col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <span>Stewardship Notes</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <textarea id="txtStewardshipNote" name="StewardshipNotes" class="form-control" cols="40" rows="5" readonly="@(Helper.IsApprovalScreen==true? true :false)">@ViewBag.StewardShipNote</textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 paddingto5">
                    <input id="btnStewardshipNote" class="btn btn-primary btnBlack pull-right" type="submit" name="btnStewardshipNote" title="Clear Company Filter" value="Ok" />
                </div>
            </div>
        </div>
    </div>
}
<link href="~/Content/Custom.css" rel="stylesheet" />


