@using SBISCCMWeb.LanguageResources
@model  SBISCCMWeb.Models.UsersModel
@{
    Layout = null;
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        InsertionMode = InsertionMode.InsertAfter,
        HttpMethod = "POST",
        OnSuccess = "UpdateCountryGroupPopup"
    };
}
<style>
    .ddmaxheight {
        min-height: 167px;
        padding: 4px;
    }
</style>
<div class="modal" id="PortalCountryGroupModal" role="dialog">

    <div class="modal-dialog modal-dialog-centered modal-xs">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <h4 class="modal-title">@PortalSettingLang.hdrCountryGroup</h4>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("AddUpdateCountryGrp", "Portal", null, ajaxOptions, new { @class = "formContent", @autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()
                    <div id="popupConfigData">
                        <div class="row">
                            <label class="control-label col-xs-3 custom-text-right paddingtop8">@PortalSettingLang.lblGroupName :</label>
                            <div class="col-xs-8 ">
                                @Html.TextBoxFor(@model => @model.objCountryGroup.GroupName, new { @class = "form-control CountryGroupName", @autocomplete = "off" })
                                <span id="spnGroupName" class="error" style="display:none;">@PortalSettingLang.lblGroupNameRequire</span>
                                <br /><span id="spnOptionValue" class="error" style="display:none;">@PortalSettingLang.lblCountryRequire</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5">
                                @Html.DropDownListFor(@model => @model.objCountryGroup.AddSelectedCountry, new SelectList(Model.countries, "ISOAlpha2Code", "CountryWithISOCode"), new { @class = "form-control selectbox ddmaxheight", @size = 12, multiple = "multiple", @autocomplete = "off" })
                            </div>
                            <div class="col-xs-2 custom-text-align-center">
                                <div>
                                    <input value=">" id="btnConfigCountryGroupRight" name="btnConfigCountryGroup" type="button" class="btn btn-Secondary btnSaveSetting" />
                                </div>
                                <div>
                                    <input value=">>" id="btnConfigCountryAllRight" name="btnConfigCountryGroup" type="button" class="btn btn-Secondary btnSaveSetting" />
                                </div>
                                <div>
                                    <input value="<" id="btnConfigCountryGroupLeft" name="btnConfigCountryGroup" type="button" class="btn btn-Secondary btnSaveSetting" />
                                </div>
                                <div>
                                    <input value="<<" id="btnConfigCountryGroupAllLeft" name="btnConfigCountryGroup" type="button" class="btn btn-Secondary btnSaveSetting" />
                                </div>
                            </div>
                            <div class="col-xs-5">
                                @Html.HiddenFor(@model => @model.objCountryGroup.ISOAlpha2Codes)
                                @Html.DropDownListFor(@model => @model.objCountryGroup.RemoveSelectedCountry, Model.objCountryGroup.lstCountries != null ? new SelectList(Model.objCountryGroup.lstCountries, "ISOAlpha2Code", "CountryWithISOCode") : new MultiSelectList(""), new { @class = "form-control selectbox ddmaxheight", @size = 12, multiple = "multiple", @autocomplete = "off" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <br />
                                @Html.HiddenFor(@model => @model.objCountryGroup.GroupId)
                                @Html.HiddenFor(@model => @model.objCountryGroup.tmpName)
                                <input type="submit" value="@PortalSettingLang.lblAdd" id="btnConfigCountryGroup" name="btnConfigCountryGroup" class="btn btn-primary btnConfigCountryGroup" />
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>

</div>