@using SBISCCMWeb.LanguageResources
@using SBISCompanyCleanseMatchBusiness.Objects.EntitiesAndAdapters
@model  UserCommentsEntity
@using SBISCCMWeb.Utility
@{
    Layout = null;
}
@{
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        LoadingElementId = "divProgress",
        OnSuccess = "UpdateUserComments"
    };
}
<article class="col-md-12 sortable-grid ui-sortable" id="AtricalAddUpdateUserComments">
    <div class="jarviswidget jarviswidget-sortable jarviswidget-color-blueDark" data-widget-custombutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false" role="widget">
        <header role="heading">
            <h2>
                <strong>@PortalSettingLang.hdrUserComments</strong>
            </h2>
            <ul id="widget-tab-Company" class="nav pull-right nav-pills Custom-pill">
                @if (Helper.oUser != null && (Helper.oUser.UserRole == UserRole.GLOBAL.ToString()))
                {
                    <li>
                        <div class="btn btn-sm btn-Secondary" id="AddUserComment" title="@PortalSettingLang.titleAddUsercomment">
                            <span class="fa fa-plus"></span>
                        </div>
                    </li>

                    <li>
                        <div class="btn btn-sm btn-Secondary" id="editUserComment" title="@PortalSettingLang.titleEditUsercomment">
                            <span class="fa fa-pencil"></span>
                        </div>
                    </li>
                }
            </ul>
        </header>
        <div role="content">
            <div class="jarviswidget-editbox"></div>
            <div class="widget-body no-padding">
                <div class="centertable">
                    @using (Ajax.BeginForm("popupUserComments", "Portal", null, ajaxOptions, new { @class = "formCustomeAttribute m-style", @autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()

                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="fontstyle tableBorder-none no-padding" align="right">@PortalSettingLang.lblCommentType : </td>
                                    <td class="tableBorder-none company_atribute">
                                        @Html.DropDownListFor(model => model.CommentType, new SelectList(SBISCCMWeb.Utility.CommonMethod.GetUserCommentType(), "Value", "Text"), new { @class = "form-control", disabled = "disabled", @autocomplete = "off" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="fontstyle tableBorder-none" align="right">@PortalSettingLang.lblComment :</td>
                                    <td class="tableBorder-none company_atribute">
                                        @Html.TextAreaFor(@model => @model.Comment, new { @class = "form-control commentTextArea", maxlength = "500", rows = "5", cols = "20", disabled = "disabled", @autocomplete = "off" })
                                        <span id="spnComment" class="error" style="display:none;">@PortalSettingLang.lblCommentRequire</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right tableBorder-none"></td>
                                    <td class="text-left tableBorder-none">
                                        @Html.HiddenFor(@model => @model.CommentId)
                                        @if (Model.CommentId > 0)
                                        {
                                            <input type="submit" value="@PortalSettingLang.lblUpdate" id="btnUsersComments" name="btnUsersComments" class="btn btn-primary" style="display:none;" />
                                        }
                                        else
                                        {
                                            <input type="submit" value="@PortalSettingLang.lblAdd" id="btnUsersComments" name="btnUsersComments" class="btn btn-primary" style="display:none;" />
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</article>
