@using SBISCCMWeb.LanguageResources
@using SBISCCMWeb.Utility;
@model IPagedList<dynamic>

@{
    AjaxOptions ajaxOptionsForUserPaging = new AjaxOptions
    {
        UpdateTargetId = "divPartialCDSEntity",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        OnSuccess = "OnSuccessEntity"
    };
    string sortorder = Convert.ToString(ViewBag.sortorder);
    string SortBy = Convert.ToString(ViewBag.SortBy);
    string Message = SessionHelper.EntityMessage;
    string pageValue = Convert.ToInt32(ViewBag.pagevalue);
    SessionHelper.EntityMessage = string.Empty;
}
@Html.Hidden("CDSEntityPageValue", pageValue)
@Html.Hidden("CDSEntitySortOrder", sortorder)
@Html.Hidden("CDSEntitySortBy", SortBy)

<div class="table-responsive">
    <label class="select pull-right" style="padding-right:10px;">
        @PortalSettingLang.lblPageSize :  @Html.DropDownList("CDSEntityPageValue", new SelectList(CommonDropdown.GetPageSize(), pageValue), new { id = "CDSEntityPageValue", @class = "CDSEntityPageValueChange", @autocomplete = "off" })<i></i>
    </label>
    <table class="table table-bordered ">
        <thead>
            <tr>
                <th> @Ajax.ActionLink(@PortalSettingLang.lblEntity, "indexEntity", new { page = ViewBag.pageno, pagevalue = ViewBag.pagevalue, sortby = 1, sortorder = (ViewBag.SortBy == 1 ? (ViewBag.SortOrder == 1 ? 2 : 1) : 1) }, ajaxOptionsForUserPaging)</th>
                <th>@PortalSettingLang.lblDelete </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.Entity</td>
                    <td>
                        <a href="javascript:void(0)" id="@item.Entity" class="deleteCDSEntity">@PortalSettingLang.lblDelete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="dt-toolbar-footer pull-right">
        <div class="hidden-xs New-Paging">
            <div id="datatable_tabletools_info" class="dataTables_info" role="status" aria-live="polite">
                <a id="pagingFormAction" href="@Url.Action("indexEntity", "Portal", new {  page = 1, pagevalue = ViewBag.pagevalue, sortby = ViewBag.SortBy, sortorder = ViewBag.SortOrder })" style="display:block"></a>
                @Html.PagedListPager(Model, page => Url.Action("indexEntity", "Portal", new { page = page, pagevalue = ViewBag.pagevalue, sortby = ViewBag.SortBy, sortorder = ViewBag.SortOrder }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions() { ContainerDivClasses = new[] { "dataTables_paginate paging_simple_numbers" } }, new AjaxOptions() { HttpMethod = "replace", UpdateTargetId = "divPartialCDSEntity", LoadingElementId = "divProgress", OnSuccess = "OnSuccess()" }))
            </div>
        </div>
    </div>
</div>



@if (!string.IsNullOrEmpty(Message))
{
    <script type="text/javascript">
        bootbox.alert({
            title: "<i class='fa fa-info-circle' aria-hidden='true'></i> Message",
            message: '@Message', callback: function () {
                    addEntityToSelection();

            }
        });
    </script>
}

